doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    meta(name='description', content=desc)

    link(href='/static/humans.txt', rel='author', type='text/plain')

    title React Multiplatform Mock Payment Demo

    //- Load bundled CSS if not in dev
    if process.env.NODE_ENV !== 'development'
      link(href='/static/dist/style.css', rel='stylesheet', type='text/css')
  body
    .app

    //- Load HMR JS & CSS if in dev, else just load bundled JS
    if process.env.NODE_ENV === 'development'
      script(src='/dev-assets/bundle.js')
    else
      script(src='/static/dist/bundle.js')
